.linkfield.withSettings {
  padding: 15px;
  border: 1px solid rgba(0, 0, 20, 0.1);
}

.linkfield--field {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  margin: -5px;
}

.linkfield--field > * {
  padding: 5px;
}

.linkfield--target {
  white-space: nowrap;
}

.linkfield--typeOptions {
  flex: 1;
}

.linkfield--typeOptions.single {
  padding-left: 0;
}


.linkfield--elementRow {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

.linkfield--elementRowSelect {
  flex: 1;
  min-width: 300px;
}

.linkfield--elementRowQuery {
  flex: 1;
  min-width: 100px;
  max-width: 200px;
}

.linkfield--settings {
  margin-top: 15px;
}
